.container-g {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.content-g {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.goal-g {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  padding: 20px 25px 20px 25px;
  font-size: 18px;
  cursor: pointer;
}

.goal-c {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 233, 176);
  padding: 20px 25px 20px 25px;
  font-size: 18px;
  cursor: pointer;
}
