.container-g {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.content-g {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  margin-top: 50px;
}

.goal-g {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  padding: 20px 25px 20px 25px;
  font-size: 18px;
  cursor: pointer;
}

.goal-c {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 233, 176);
  padding: 20px 25px 20px 25px;
  font-size: 18px;
  cursor: pointer;
}

.header-g {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .header-g {
    padding: 10px;
    font-size: 10px;
    flex-direction: column;
    gap: 0;

    h1 {
      font-size: 18px;
    }
  }

  .content-g {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
